@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Open+Sans:400,600,700|Roboto:500,700,900');


body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #8d83f9;
}

h1,h2,h3 {
	margin: 0;
}

h1 {
	font-family: "roboto", sans-serif;
	font-size: 115px;
	font-weight: 700;
	line-height: 120px;
}

h2 {
	font-size: 50px;
}

button {
	font-family: 'Open Sans', sans-serif;
	border: none;
	font-size: 18px;
	font-weight: 600;
	line-height: 26px;
	background: none;
	cursor: pointer;
}

.main-wrap {
	max-width: 1600px;
	margin: 0 auto;
	/*outline: 1px solid red;*/
	background: url(../img/banner-girl.jpg) no-repeat;
	background-position: -41px 2px;
}

.banner {
	height: 1053px;
}

.banner__header {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	margin-bottom: 200px;
}

.banner__logo {
	padding-top: 80px;
	padding-right: 240px;
	font-family: "roboto";
	font-size: 40px;
	color: #fff;
}

.btn-box {
	background: #fff;
	border-radius: 30px;
	width: 202px;
	height: 60px;
	box-shadow: 0px 5px 23.75px 1.25px rgba(189, 227, 239, 0.75);
	text-align: center;
}

.banner__btn-box {
	width: 371px;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: space-around;	
}

.banner__vr-line {
	width: 1px;
	height: 36px;
	background: #e0e0e0;
}

.banner__info-wrap {	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 870px;
}

.banner__title {
	margin-bottom: 10px;
}

.wt-clr {
	color: #fff;
}

.banner__discount {
	color: #fbf934;
	font-family: "roboto";
	margin-bottom: 98px;
}

.banner__button	 {
	padding-top: 17px; 
}


.trendy-bags {
	background: #fff;
	margin: 0 auto;
	margin-top: -37px;
	max-width: 1379px;
	height: 1325px;
	box-shadow: 0px 5px 47.5px 2.5px rgba(237, 235, 253, 0.75);
}

.trendy-bags__title {
	padding-top: 85px;
	padding-bottom: 75px;
	text-align: center;
}

.trendy-bags__bags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.trendy-bags__btn {
	display: none;
	position: absolute;
    bottom: -29px;
    background-image: linear-gradient( 64deg, rgb(140,132,249) 0%, rgb(161,101,244) 100%);
  	box-shadow: 0px 5px 23.75px 1.25px rgba(240, 239, 254, 0.75);
	cursor: pointer;
}

.trendy-bags__add-to-cart {
	padding: 17px;
	color: #fff;
}

.trendy-bags__item {
	width: 351px;
	height: 451px;
	margin-right: 58px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.trendy-bags__item:hover {
	box-shadow: 0px 5px 47.5px 2.5px rgba(221, 223, 224, 0.75);
}

.trendy-bags__item:hover .trendy-bags__cost {
	color: #8c84f9;
}

.trendy-bags__item:hover .trendy-bags__btn {
	display: block;
}

.trendy-bags__item:nth-child(3) {
	margin-bottom: 61px;
}

.trendy-bags__item:nth-child(3),
.trendy-bags__item:nth-child(6) {
	margin-right: 0;
}

.trendy-bags__picture-wrap {
	height: 330px;
	display: flex;
	align-items: center;
}

.trendy-bags__picture {
	max-width: 100%;
}

.trendy-bags__desc {
	color: #777;
	font-size: 18px;
	line-height: 25px;
	margin: 0 0;
    margin-bottom: 5px;
}

.trendy-bags__cost {
	color: #333;
	font-size: 25px;
	font-weight: 600;
	line-height: 25px;
}


.our-brand {
	width: 1379px;
	height: 859px;	
	display: flex;
	margin: 0 auto;
	
}

.our-brand__left-column {
	width: 690px;
}

.our-brand__title {
	padding-top: 242px;
    padding-left: 101px;: 
}

.our-brand__subtitle {
	color: #333;
    font-size: 25px;
    font-weight: 600;
    padding-top: 14px;
    padding-left: 105px;
}

.our-brand__text {
    padding-top: 7px;
    padding-left: 106px;
    line-height: 1.65;
    word-spacing: 1px;
}


.our-brand__right-column {
	width: 690px;
	background: url(../img/Shape-22-copy.png) no-repeat;
	background-position: -91px -110px;
}

.our-brand__iphone7 {
	padding-top: 107px;
    padding-left: 77px;
}

.trendy-collection {
	background: #fff;
	margin: 0 auto;
	margin-top: -37px;
	max-width: 1379px;
	height: 1354px;
	position: relative;
	box-shadow: 0px 5px 47.5px 2.5px rgba(237, 235, 253, 0.75);
}

.trendy-collection__title {
	padding-top: 117px;
	padding-bottom: 89px;
	text-align: center;
}

.trendy-collection__nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: auto;
	width: 1105px;
	height: 66px;
	border-radius: 30px;
	box-shadow: 0px 5px 47.5px 2.5px rgba(239, 239, 240, 0.75);
	font-weight: 600;
}

.trendy-collection__nav a {
	color: #b394fa;
	font-size: 20px;
}

.trendy-collection__items-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 71px;
}

.trendy-collection__item {
	width: 351px;
	height: 451px;
	margin-right: 58px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.trendy-collection__item:nth-child(3),
.trendy-collection__item:nth-child(6) {
	margin-right: 0;
}

.trendy-collection__picture-wrap {
	height: 300px;
	display: flex;
	align-items: center;
}

.trendy-collection__desc{
	font-size: 18px;
    padding-left: 23px;
    margin-top: 3px;
    word-spacing: 1px;
}

.trendy-collection__cost {
	color: #333;
	font-size: 25px;
	font-weight: 600;
	line-height: 25px;
}

.newsletter {
	background-image: linear-gradient( 45deg, rgb(140,132,249) 0%, rgb(161,101,244) 100%);
	width: 1601px;
	height: 491px;
	margin-top: -74px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.newsletter__title {
  	font-size: 150px;
  	font-weight: 900;
  	line-height: 26px;
  	padding-top: 185px;
  	text-transform: uppercase;
  	color: rgba(254, 254, 254, 0.039);
  }

.newsletter__subtitle {
	color: #fff;
	position: relative;
    top: -10%;
}